.dashboard{
    display: flex;
    width: 100%;
    gap: 45px;
}
.options{
    padding: 15px;
    width: 12%;
}
.options p{
    color: #000814;
    background-color: #FFC300;
    margin-bottom:15px ;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.options p:hover{
    background-color: #FFD60A;
    color: #001D3D;
}
.form{
    width: 70%;
}
.list{
    display: flex;
    flex-direction: column;
}