.dark-mode-toggle {
  position: fixed;
  right: 20px;
  top: 20%;
  transform: translateY(-50%);
  height: 30px;
  margin: 5px;
  width: 60px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6); /* Fondo en modo claro */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: Consolas, Courier New, monospace;
  border: solid #404c5d 1px;
  font-size: 16px;
  color: #000000; /* Texto en color negro en modo claro */
  transition: 500ms;
  border-radius: 5px;
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b, inset 5px 5px 10px #e6e6e6, inset -5px -5px 10px #e6e6e6;
}

.dark-mode-toggle[data-theme='dark'] {
  background: linear-gradient(145deg, #2e2d2d, #212121); /* Fondo en modo oscuro */
  color: #ffffff; /* Texto en color blanco en modo oscuro */
  box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b, inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
}

.dark-mode-toggle:hover {
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: #d6d6d6;
  transition: 500ms;
}

.dark-mode-toggle:active {
  box-shadow: 1px 1px 13px #ffffff, -1px -1px 33px #545b78;
  color: #ffffff;
  transition: 100ms;
  background: linear-gradient(145deg, #f50808, #f7ebeb);
}

.text__d {
  display: none;
}
