.favorites-page {
    padding: 20px;
    background-color: red;
  }
  
  .productos-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: yellow;
  }
  
  .producto-card {
    font-size: 2rem;
    margin-bottom: 20px;
    background-color: blue;
  }
  
 