.product-filter {
  padding: 20px;
  background-color: var(--color-primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: var(--azulOscuro);
  color: var(--blanco);
  padding: 2rem;
  text-align: center;
  display: flex;
  margin: 25px auto;
  flex-direction: column;
  align-items: stretch;
  max-width: 80%;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--negro);
  align-content: space-around;
}

.filter-controls {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}


.filter-control {
  display: flex;
  justify-content: space-around;
  height: 60%;
  width: 300px;
  max-width: 60%;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.filter-control h4 {
  
  color: var(--azulOscuro);
}
.select-container {
  position: relative;
}

.select-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-color: #f7f7f7;
  cursor: pointer;
}

.ButtonDiv {
  display: flex;
  align-items: center;
}

button {
  padding: 12px 20px;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  /*border: none;*/
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--color-button-bg-hover);
}

@media (max-width: 768px) {
  .filter-control {
    flex: 1 1 100%; 
  }
}

.h4{
    width: 50%;
    font-size: 1.8rem;
    color: var(--negro);
    background-color: var(--amarillo);
    border-radius: 0.5rem;
    font-weight: bold;
  
}
