.floating-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--azulOscuro);
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 800px;
}

.alert-content {
    text-align: center;
    color: var(--piel);
}

.alert-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    color: #888;
    font-size: 14px;
    width: 8rem;
}

.close-btn:hover {
    color: #555;
}

