/* src/styles/hero-section.css */
.hero-section {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 8rem 0;
    text-align: center;
  }
  
  .hero-content {
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-size: 4.8rem;
    margin-bottom: 2rem;
  }
  
  .hero-content p {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  
  .hero-content button {
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    background-color: var(--amarillo);
    color: var(--negro);
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hero-content button:hover {
    background-color: var(--crema);
  }
  
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    overflow-x: auto; /* Permite el desplazamiento horizontal */
  }
  
  .carousel img {
    max-width: 100%;
    max-height: 20rem; /* Ajusta la altura máxima según tu diseño */
    object-fit: cover;
    margin: 0 1rem;
  }
  