.hero-section {
  background-color: var(--azulOscuro);
  color: var(--blanco);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border-radius: 50px;
  box-shadow: 7px 6px 50px 9px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--negro);
  margin-bottom: 30px;
  padding: 2rem;
}

.hero__category {
  background-image: url(/img/img3.jpg);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.hero-content {
  max-width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.hero-content h1 {
  font-size: 4.8rem;
  margin-bottom: 2rem;
}

.hero-content p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.hero-content button {
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  background-color: var(--amarillo);
  color: var(--negro);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-content button:hover {
  background-color: var(--crema);
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 2rem;
}

.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.carousel img {
  height: 100px;
  width: auto;
  object-fit: cover;
  margin: 0 1rem;
  border: 1px solid var(--negro);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.carousel img:hover {
  transform: scale(1.2);
  border-radius: 10px;
}

.carousel-button {
  background-color: var(--amarillo);
  border: none;
  color: var(--negro);
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero-section {
    width: 90%;
  }

  .hero-content h1 {
    font-size: 3.6rem;
  }

  .hero-content p {
    font-size: 1.6rem;
  }

  .hero-content button {
    padding: 1rem 2rem;
    font-size: 1.6rem;
  }

  .carousel img {
    max-width: 20%;
    margin: 0 0.5rem;
  }

  .carousel-button {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .hero-section {
    width: 100%;
    padding: 1rem;
  }

  .hero-content h1 {
    font-size: 2.4rem;
  }

  .hero-content p {
    font-size: 1.4rem;
  }

  .hero-content button {
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
  }

  .carousel img {
    max-width: 30%;
    margin: 0 0.3rem;
  }

  .carousel-button {
    font-size: 1.2rem;
    padding: 0.3rem;
  }
}
