
.header__homePage ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
  
  }
  
  .header__homePage li {
    width: 100%;
    list-style: none;
    position: relative;
  }
  
  .hero__category {
    background-image: url("../img/img3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  @media (max-width: 768px) {
    .filtro-container {
      font-size: 10px;
      display: block;
      margin-bottom: 5px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (min-width: 768px) {
    .navegacion {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 6rem;
    }
  }
  
  @keyframes slide {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
  
  @media (max-width: 991px) {
    .slider-box {
      width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .header_texto {
      margin-top: 13rem;
    }
  }
  

