body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__category {
  width: 100%;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 20px;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  gap: 20px; 
  padding: 0 40px; 
}


.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.open-chat-button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 10px;
}

.icono__fluid {
  width: 50px;
  height: 50px;
}


@media (max-width: 768px) {
  .product__list {
    display: flex;
    padding: 0 10px;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch;
}


  .product__list .product-card {
    width: 100%; 
  }

  .open-chat-button {
    padding: 5px; 
  }

  .icono__fluid {
    width: 40px;
    height: 40px; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product__list {
    padding: 0 20px;
    gap: 10px;
  }

  .product__list .product-card {
    width: calc(50% - 10px); 
  }

  .open-chat-button {
    padding: 8px; 
  }

  .icono__fluid {
    width: 22px;
    height: 22px; 
  }
}

@media (min-width: 992px) {
  .product__list {
    padding: 0 40px;
    gap: 20px;
    
  }

  .product__list .product-card {
    width: calc(33.33% - 20px); 
  }

  .open-chat-button {
    padding: 10px; 
  }

  .icono__fluid {
    width: 50px;
    height: 50px; 
  }
}
