:root {
  --fuenteHeading: 'Heebo', sans-serif;
  --fuenteParrafos: 'Noto Sans', sans-serif;

  --blanco: #ffffff;
  --negro: #000814;
  --azulOscuro: #001d3d;
  --azul: #003566;
  --crema: #ffc300;
  --amarillo: #ffd60a;

  --naranja: #ff9f1c;
  --piel: #ffbf69;
  --turquesa: #2ec4b6;
  --celesteOpaco: #cbf3f0;

  --celeste: #04b4e0;
  --rojo: #c70039;
  --rojoOscuro: #581845;
  --colorFondo: #f5f5f5;

  --banner: url("../img/img3.jpg");
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  place-items: center; 
}

/* Estilo para encabezados */
h1, h2, h3, h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

/* Estilos específicos para cada tamaño de encabezado */
h1 { font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }

/* Imágenes responsivas */
img {
  max-width: 100%; 
  
}

/* Estilo de enlaces sin subrayado */
a {
  text-decoration: none;
}

/* Clases utilitarias */
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.centrar-texto { text-align: center; }

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
  h1 { font-size: 3.6rem; }
  h2 { font-size: 3.2rem; }
  h3 { font-size: 2.8rem; }
  h4 { font-size: 2.4rem; }
}
@media (max-width: 480px) {
  h1 { font-size: 2.8rem; }
  h2 { font-size: 2.4rem; }
  h3 { font-size: 2rem; }
  h4 { font-size: 1.8rem; }
}
