:root {
  --fuenteHeading: 'Heebo', sans-serif;
  --fuenteParrafos: 'Noto Sans', sans-serif;

  --blanco: #ffffff;
  --negro: #000814;
  --azulOscuro: #001d3d;
  --azul: #003566;
  --crema: #ffc300;
  --amarillo: #ffd60a;

  --naranja: #ff9f1c;
  --piel: #ffbf69;
  --turquesa: #2ec4b6;
  --celesteOpaco: #6E9C98;
  --degradado: linear-gradient(145deg, #cbf3f0, #003566);

  --celeste: #04b4e0;
  --rojo: #c70039;
  --rojoOscuro: #c70039;
  --colorFondo: #a5a3a3;

  --celeste-transparente: rgba(0, 194, 255, 0.6); 
  --negro-transparente: rgba(0, 0, 0, 0.6);


  --banner: url("/img/img3.jpg");
  --imgfondo: url("/img/papelitosDark.png");

}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

/* Variables para el modo oscuro */
:root[data-theme='dark'] {
  --blanco: #000814;
  --negro: #ffffff;
  --azulOscuro: #085ba8;
  --azul: #001d3d;
  --crema: #ffc300;
  --amarillo: #ffd60a;

  --naranja: #ff9f1c;
  --piel: #ffbf69;
  --turquesa: #2ec4b6;
  --celesteOpaco: #cbf3f0;

  --celeste: #04b4e0;
  --rojo: #c70039;
  --rojoOscuro: #581845;
  --colorFondo: #000814;
  --degradado:linear-gradient(145deg, #003566, #cbf3f0);
  --imgfondo: url("/img/papelitos.png");
}

body {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  place-items: center; 
  background-image: var(--imgfondo);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 /* height: 100vh;*/
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
}

/* Estilo de encabezados */
h1, h2, h3, h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

/* Estilos específicos para cada tamaño de encabezado */
h1 { font-size: 4.8rem; }
h2 { font-size: 4rem; }
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }

/* Imágenes responsivas */
img {
  max-width: 100%; 
}

p{
  font-size: var(h1);
}

/* Estilo de enlaces sin subrayado */
a {
  text-decoration: none;
}

/* Clases utilitarias */
.no-margin { margin: 0; }
.no-padding { padding: 0; }
.centrar-texto { text-align: center; }

/* Media queries para diseño responsivo */
@media (max-width: 360px) {
  /* Estilos para pantallas muy pequeñas */
  h1 { font-size: 3.2rem; }
  h2 { font-size: 2.8rem; }
  h3 { font-size: 2.4rem; }
  h4 { font-size: 2rem; }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos para tabletas en vertical */
  body {
    font-size: 1.4rem;
  }
  h1 { font-size: 4rem; }
  h2 { font-size: 3.6rem; }
  h3 { font-size: 3rem; }
  h4 { font-size: 2.6rem; }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* Estilos para tabletas en horizontal */
  body {
    font-size: 1.5rem;
  }
  h1 { font-size: 4.4rem; }
  h2 { font-size: 4rem; }
  h3 { font-size: 3.4rem; }
  h4 { font-size: 3rem; }
}


