body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes buttonPulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes slideIn {
    0% { opacity: 0; transform: translateX(-100%); }
    100% { opacity: 1; transform: translateX(0); }
}

.landing-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   /* background: url('/img/img3.jpg') no-repeat center center / cover;*/
    color: #fff;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.landing-header {
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 10px;
    animation: slideIn 2s ease-in-out;
}

.landing-header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color-white);
}

.landing-header p {
    font-size: 1.5rem;
    margin: 0;
    color: var(--color-white);
}

.landing-content {
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 10px;
    animation: fadeIn 1.5s ease-in-out;
}

.enter-button {
    background-color: var(--color-black);
    color: var(--color-white); 
    border: 2px solid var(--color-white); 
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: buttonPulse 2s infinite;
    width: 25%;
    display: block;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.enter-button:hover {
    background-color: rgba(15, 12, 0, 0.7);
    animation: none;
    transform: scale(1.1);
}

.enter-button img {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100px;
}

.enter-button img:hover {
    animation: rotate-horizontal-center 0.4s;
}

@keyframes rotate-horizontal-center {
    0% { transform: rotateX(0); }
    100% { transform: rotateX(-360deg); }
}

@media (max-width: 768px) {
    .landing-header h1 {
        font-size: 2.5rem;
    }
    
    .landing-header p {
        font-size: 1.2rem;
    }
    
    .enter-button {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .landing-header h1 {
        font-size: 2rem;
    }
    
    .landing-header p {
        font-size: 1rem;
    }
    
    .enter-button {
        width: 75%;
    }
}
