.contenido_principal__or {
  display: flex;
  flex-direction: column;
  align-items: center; /* Cambiado a center para centrar */
  width: 800px;
  max-width: 80%;
  margin: 0 auto; /* Añadido para centrar */
  font-family: var(--fuenteHeading);
}

.contenedor__or {
  width: 100%; /* Cambiado a 100% para adaptarse al tamaño de la pantalla */
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px; /* Añadido para proporcionar espacio interior */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-start {
  text-align: start;
  color: var(--blanco);
}

.orden__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 80%;
  margin: 0 auto; /* Añadido para centrar */
}

.orden__container h2 {
  font-size: 2.4rem;
  margin-bottom: 10px;
  color: var(--azulOscuro);
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--azulOscuro);
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--colorFondo);
  color: var(--blanco);
  font-size: 2.8rem;
  font-family: var(--fuenteHeading);
}

.table th {
  font-weight: bold;
  background-color: var(--crema);
}

.table img {
  max-width: 100px;
  height: auto;
}

.flex {
  display: flex;
  align-items: center;
}

.btn-dark {
  background-color: var(--celesteOpaco);
  color: var(--blanco);
  border: none;
}

.btn-danger {
  background-color: var(--rojo);
  color: var(--blanco);
  border: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.flex.align-items-start.gap-4 {
  color: var(--blanco);
  gap: 10px;
}

.pago__total {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  margin: 10px;
  gap: 50px;
  background-color: var(--amarillo);
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--negro);
}

.suma__total {
  display: flex;
  background-color: var(--azulOscuro);
  color: var(--blanco);
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
  border-radius: 8px;
  width: 200px;
  flex-direction: column;
  align-items: center;
}

.btn__or {
  background-color: var(--azulOscuro);
  color: var(--blanco);
  border: none;
}
.btn__or:hover {
  background-color: var(--celeste);
  color: var(--blanco);
  border: none;
}

.Header__orden {
  background-color: var(--azulOscuro);
}

.btn__or_2 {
  color: var(--rojo);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 3.2rem;
}

.hhh {
  width: 100vw;
  background-color: var(--azulOscuro);
}

/* Media query para estilos responsivos */
@media (max-width: 768px) {
  .orden__container {
    grid-template-columns: 1fr;
  }

  .contenido_principal__or {
    width: 100%;
    max-width: 100%;
    padding: 10px; /* Ajuste para proporcionar espacio interior en pantallas pequeñas */
  }

  .contenedor__or {
    width: 100%;
    padding: 10px; /* Ajuste para proporcionar espacio interior en pantallas pequeñas */
  }

  .table th, .table td {
    font-size: 2rem; /* Ajuste de tamaño de fuente para pantallas pequeñas */
  }
}
