.container__py{
    background-color: var(--azulOscuro);
    color: var(--blanco); 
    padding: 2rem;
    text-align: center;
    display: flex;
    margin: 25px auto; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 80%;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--negro);
}

.h2__py{
    color: var(--amarillo);
    font-size: var(--h1);
}

.h1__py{
    color: var(--rojo);
    
}

.ul__py {
    list-style-type: none;
    color: var(--colorfondo);
  }

  .content__py{
max-height: 80%;
  }

  .p__py{
    color: var(--colorfondo);
  }