.card__container {

  border: 1px solid var(--negro);
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 20px;
  width: 300px;
  height: 500px;
  background-color: var(--blanco);
  border-radius: 30px;
  background: var(--degradado);
  box-shadow: 7px 7px 15px #bebebe, -3px -3px 7px #ffffff;
}

.card__container:hover {
  transform: scale(1.2);
}

.card__image {
  margin: auto;
  width: 100%;
  height: auto;
  display: block;
  margin-top: 30px;
  max-width: 90%;
  max-height: 50%;
  border-radius: 30px;
  min-width: 90%;
  min-height: 50%;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.card__details {
  padding: 15px;
}

.card__title {
  display: flex;
  font-family: var(--fuenteHeading);
  font-size: 2.2rem;
  color: var(--piel);
  margin-bottom: 10px;
  font-style: italic;
}

.card__name {
  font-family: var(--fuenteParrafos);
  font-size: 2.2rem;
  color: var(--degradado);
  margin-bottom: 5px;
  font-weight: bolder;
}

.card__buttons {
 
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-direction: row;
    align-items: baseline;

 
}

.card__cart-button {
  background-color: var(--azul);
  color: var(--blanco);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  height: 50px;
}


.card__cart-button:hover{
  background-color: gray
}


.card__fav-button {
  display: flex;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.card__fav-button:hover {
  color: red;
}

/*
.card__fav-button {
  background-color: transparent;
  color: var(--azul_Oscuro);
  border: none;
  padding: 20px 30px; 
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  margin-left: 20px;
}

.card__fav-button:hover {
  color: red;
}

.card__fav-button::before {
  content: "\2665"; 
  position: absolute;
  left: 10px;
  color: var(--negro);
  transition: color 0.3s ease;
  font-size: 2rem; 
}

.card__fav-button:hover::before {
  color: red;
}
*/

/**/
.ico_detalle {
  width: 10%;
  height: 10%;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.product__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--celeste), var(--negro));
  gap: 2rem;
  flex-wrap: wrap;
  padding: 20px;
height: 100%;
margin: 0;
}


.carrito_img {
  transition: transform 0.2s ease;
  margin: 5px;
}

.carrito_img:hover {
  transform: translateX(30px); 
}


.card__fav-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #ccc; /* color para no favorito */
}

.card__fav-button.favorite {
  color: red; /* color para favorito */
}

.corazon{

  border: none;
  background: none;
  cursor: pointer;
  font-size: 3.5rem;

}