.card__container {
  border: 1px solid var(--negro);
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  margin-bottom: 20px;
  width: 300px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1); 
  background-color: var(--blanco); 
}

.card__image {
  
  height: auto;
  border-bottom: 1px solid var(--negro);
  max-width: 90%;
}

.card__details {
  padding: 15px;
}

.card__title {
  font-family: var(--fuenteHeading);
  font-size: 2.8rem;
  color: var(--azul_Oscuro);
  margin-bottom: 10px;
}

.card__name {
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  color: var(--negro);
  margin-bottom: 5px;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card__cart-button,
.card__fav-button {
  background-color: var(--azul);
  color: var(--blanco);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.card__cart-button:hover,
.card__fav-button:hover {
  background-color: gray; 
}

.card__fav-button {
  background-color: transparent;
  color: var(--azul_Oscuro);
  position: relative;
  transition: color 0.3s ease; 
}

.card__fav-button::before {
  content: '\2665'; 
  position: absolute;
  left: -20px; 
  color: var(--negro); 
  transition: color 0.3s ease; 
}

.card__fav-button:hover::before {
  color: red/*var(--azul_Oscuro)*/; 
}

