.search-bar-container {
  padding: 2rem;
  background-color: var(--azulOscuro);
  color: var(--blanco);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 25px auto;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--negro);
  flex-wrap: wrap;
}

.search-bar-input {
  width: 100%;
  max-width: 90%; 
  padding: 12px;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  text-align: center;
  box-sizing: border-box; 
}

.search-bar-input:focus {
  outline: none;
  border-color: #007bff;
}

.search-bar-input::placeholder {
  color: #aaaaaa;
}

.search-bar-button {
  margin-top: 1rem;
  padding: 12px 24px;
  background-color: var(--azulOscuro); /* Usa la misma variable para el color de fondo */
  color: var(--blanco); /* Usa la misma variable para el color de texto */
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.search-bar-button:hover {
  background-color: var(--azulClaro); /* Cambia a un color azul claro en hover */
  border-color: #007bff;
}
